<html>
<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/public/css/app.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>

</head>
<body class="home">
	<div class="container">
		<div class="login-page clearfix">
			<div class="login-box auth0-box before">
				<h3>CRUD HTMX AUTH0</h3>
				<p>Zero friction identity infrastructure, built for developers</p>
				<a id="qsLoginBtn" class="btn btn-primary btn-lg btn-block" href="/login">SignIn</a>
			</div>
		</div>
	</div>
</body>
</html>
